*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(120deg,#9cd9db,#ff8daf,#675aff);
    height: 100vh;
    font-family: 'Hamburg Hand', Courier, monospace;

}

img{
    max-width: 100%;
}

.player{
    background: #ffffff;
    width: 450px;
    height: 720px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000000;
    border-radius: 50px;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.65);
    overflow: hidden;
    
}

.title{
    text-align: center;
    margin: 30px auto;

}

.title h1{
    font-size: 2em;
    margin: 0 0 10px 0;
}

.title p{
    font-size: 0.91em;
}

.container{
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    overflow: hidden;
}

.icons{
    display: flex;
    justify-content: space-between;
    padding: 25px 5px;
    
}

.icons a{
    color: black;
    font-size: 1.2em;
    transition: all 0.2s;
}

.icons a:hover{
    color: rgb(0, 0, 0, 0.212);
}


.audio-btns{
    text-align: center;
}

.audio-btns a{
    color: black;
}

.img{
    width: 60%;
    margin: 30px auto;
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.65));
    transition: all 0.2s;
 
}

.img img{
    cursor: pointer;
}

.img:hover{
    transform:scale(1.08);
}

.time{
    text-align: center;
    margin: 15px 0;
}

.seek{
    width: 100%;
    height: 2px;
    background: rgba(0, 0, 0, 0.212);
    border-radius: 50px;
}

.seek .fill{
    width: 0;
    height: 5px;
    border-radius: 50px;
    background-color: black;
}

.audio-btns a:hover{
    color: rgb(0, 0, 0, 0.212);
}

.play-btns{
    padding: 60px 0 45px 0;
}

.play-btns a{
    margin: 0 25px;
    font-size: 1.5em;
    transition: all 0.2s;
    
}

.play-btns .play-pause{
    background: white;
    padding: 20px 20px 20px 25px;
    border-radius: 50%;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.65);
}

.repeat-btns{
    margin: 5px 0;
}

.repeat-btns a{
    margin: 0 40px;
    font-size: 1.3em;
}


.repeat-btns button{
    width: 40px;
    height: 40px;
    border: none;
    font-size: 1.3em;
    font-weight: bold;
    color: black;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    transition: all 0.3em;
    
}

.repeat-btns button:hover{
    background: white;

}

.footer{
    position: fixed;
    left: 0; bottom: 0; 
    padding: 10px; 
    width: 100%; 
    text-align: center;
    color: white;
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.65));
}

